/**
 * The admin-specific stylesheet for the plugin.
 *
 * @package    Chip_For_Fluentcart
 * @subpackage Chip_For_Fluentcart/admin
 * @author     CHIP IN SDN. BHD. <support@chip-in.asia>
 */

/* Admin styles here */

